{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-material-design/css/material.min.css' %}"></link>
<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-material-design/css/ripples.min.css' %}"></link>

<link rel="stylesheet" type="text/css" href="{% static 'lib/ngDialog/css/ngDialog.min.css' %}"></link>
<link rel="stylesheet" type="text/css" href="{% static 'lib/ngDialog/css/ngDialog-theme-default.min.css' %}"></link>
<link rel="stylesheet" type="text/css" href="{% static 'lib/snackbarjs/css/snackbar.min.css' %}"></link>

<!-- Custom Style Sheets -->
<link rel="stylesheet" type="text/css" href="{% static 'stylesheet/main.css' %}"></link>
<link rel="stylesheet" type="text/css" href="{% static 'stylesheet/navbar/navbar.css' %}"></link>
<link rel="stylesheet" type="text/css" href="{% static 'stylesheet/authentication/register.css' %}"></link>
<link rel="stylesheet" type="text/css" href="{% static 'stylesheet/recipies/recipies.css' %}"></link>
<link rel="stylesheet" type="text/css" href="{% static 'stylesheet/recipies/malt.css' %}"></link>
