<div id="maltForm" class="row">
  <div class="form-inline form-group row">
    <label class="col-sm-2" for="recipe__malt_brand">Brand</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="recipe__malt_brand" ng-model="malt.malt_brand" placeholder="ex. Mutons" aria-required="true"/>
    </div>
  </div>
  <div class="form-inline form-group row">
    <label class="col-sm-2" for="recipe__malt_type">Type</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="recipe__malt_type" ng-model="malt.malt_type" placeholder="ex. Light, Crystal" aria-required="true"/>
    </div>
  </div>
  <div class="form-inline form-group row">
    <div class="col-sm-12">
      <input type="checkbox" class="form-control" id="recipe__malt_extract" ng-model="malt.malt_extract"/>
      <label for="recipe__malt_extract">Malt Extract</label>
      <input type="checkbox" class="form-control" id="recipe__dry_malt" ng-model="malt.dry_malt"/>
      <label for="recipe__dry_malt">Dry Malt</label>
    </div>
  </div>
  <div class="form-inline form-group row">
    <label class="col-sm-2" for="recipe__amount_by_weight">Amount By Weight</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="recipe__amount_by_weight" ng-model="malt.amount_by_weight" placeholder="ex. 6.6" aria-required="true"/>
    </div> 
  </div>
  <div class="form-inline form-group row">
    <button class="btn btn-danger" ng-click="ctrl.removeMalt($index)">Remove</button>
  </div>
</div>
