<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <h1>Register</h1>

  <div class="well" id="register-panel">
    <form class="form-horizontal" role="form" ng-submit="vm.register()">

      <div class="form-inline form-group row">
          <label for="register__username" class="col-sm-2">Username</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="register__username" ng-model="vm.username" placeholder="ex. John124" aria-required="true"/>
          </div>
          <span class="glyphicon glyphicon-asterisk required-indicator col-sm-1 pull-right"></span>
        </div>

        <div class="form-group">
          <label for="register__password" class="col-sm-2">Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="register__password" ng-model="vm.password" placeholder="ex. soopersekret" aria-required="true"/>
          </div>
          <span class="glyphicon glyphicon-asterisk required-indicator col-sm-1 pull-right"></span>
        </div>

        <div class="form-group">
          <label for="register__confirm_password" class="col-sm-2">Confirm Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="register__confirm_password" ng-model="vm.confirm_password" placeholder="ex. soopersekret" aria-required="true"/>
          </div>
          <span class="glyphicon glyphicon-asterisk required-indicator col-sm-1 pull-right"></span>
        </div>

        <div class="alert alert-danger" ng-show="vm.password !== vm.confirm_password">Passwords do not match</div>

        <div class="form-inline form-group">
          <label for="register__email" class="col-sm-2">Email</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="register__email" ng-model="vm.email" placeholder="ex Doe.John@example.com"></input>
          </div>
        </div>

        <div class="form-inline form-group">
          <label for="register__first_name" class="col-sm-2">First Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="register__first_name" ng-mode="vm.first_name" placeholder="ex. John">
          </div>
        </div>

        <div class="form-inline form-group">
          <label for="register__last_name" class="col-sm-2">Last Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="register__last_name" ng-mode="vm.last_name" placeholder="ex. Doe">
          </div>
        </div>

        <p class="text-danger">
          <span class="glyphicon glyphicon-asterisk required-indicator"></span> indicates a required field.
        </p>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
  </div>
</div>